<div class="container mt-3">
    {{#each this}}
    <div class="card align-items-center bg-light">
        <div class="card-block text-center pb-1">
            <h5 class="card-title">{{title}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{user.username}} on {{format_date created_at}}</h5>
            <p class="card-text bg-light">{{comment_text}}</p>
        </div>
    </div>
    {{/each}}
</div>