<div class="container mt-4 bg-light rounded">
<form class="pb-2" id="signupForm">
  <div class="mb-3 pt-4">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
    <div class="col-auto mb-3">
    <span id="passwordHelpInline" class="form-text">
      Must be at least 4 characters long.
    </span>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary" id="logInBtn">Log In</button>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary" id="signUpBtn">Sign up</button>
  </div>
</form>
</div>