<div class="container mt-4 bg-light rounded">
<form class="pb-2" id="signup-form">
  <div class="mb-3 pt-4">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-login" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
    <div class="col-auto mb-3">
    <span id="passwordHelpInline" class="form-text">
      Must be at least 4 characters long.
    </span>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary" id="log-in-btn">Log In</button>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary" id="sign-up-btn">Sign up</button>
  </div>
</form>
</div>

<script src="javascript/login.js"></script>